/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
header {
  text-align:center
}

.question {
  background-color: #115ff4;
}

.answer {
  background-color: #28a200;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 2px solid #8c6b48;
  width: 300px;
  height: 100px;
}

th {
  border: 2px solid #8c6b48;
}
